#Body_myl {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

#Body_myl::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(https://i.redd.it/laxq3hqi3kp31.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(30px);
    z-index: -1;
}

#Header_myl,
#Aside_myl,
#Main_myl {
    display: grid;
}

.text-margin {
    margin-left: 10px;
    margin-right: 10px;
}

#Header_myl {
    /*everything in header*/
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    font-size: 40px;
    letter-spacing: 0.7em;
    word-spacing: 0.5em;
    color: rgb(184, 184, 184);
    background-color: rgba(69, 11, 11, 0.9);
    text-align: center;
    border-radius: 70px;
    border: 50px;
}

#Header_myl h1 {
    margin: 10px;
}

#Nav_myl {  /*everything in navigation*/
    display: flex;
    align-items: end;
    flex-direction: row;
    margin-left: 20px;  
    margin-right: 20px;
    margin-top: 10px;
    background-color: rgba(133, 133, 133, 0.7);
    border-radius: 10px;
}

.home:link {
    display: grid;
    justify-self: start;
    border-radius: 10px;
    font-weight: bold;
    padding-left: 7px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin-right: 15vw;
    background-color: rgb(104, 4, 4);
    color: rgb(255, 255, 255);
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: none;
}

.home:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.home:hover {
    color: rgb(169, 169, 169);
    text-decoration: underline;
}

.home:active {
    color: rgb(69, 69, 69);
    text-decoration: underline;
}

.name {
    display: grid;
    min-width: 50vw;
    max-width: 60vw;
    grid-template-columns: auto auto auto;
    padding: 5px 5px;
    text-align: center;
    background-color: rgb(81, 15, 15);
    border-radius: 20px;
}


.linkstyle:link {
    color: rgb(255, 255, 255);
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
}

.linkstyle:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.linkstyle:hover {
    color: rgb(169, 169, 169);
    text-decoration: underline;
}

.linkstyle:active {
    color: rgb(69, 69, 69);
    text-decoration: underline;
}

#content-bottom {
    display: grid;
    grid-template-columns: 0px auto;
}

#Aside_myl {  /*everything in the sidebar*/
    float: left;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-top: 20px;
    background-color: rgb(137, 137, 137, 0.7);
    border-radius: 20px;
    color: rgb(104, 4, 4);
    padding-top: 20px;
    width: 300px;
}

#Profilepicture_myl {
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 60px;
    width: 200px;
}

#Main_myl {  /*everything in the main content*/
    background-color: rgba(83, 83, 83, 0.6);
    color: rgb(180, 180, 180);
    margin-top: 20px;
    margin-left: 360px;
    margin-right: 20px;
    border-radius: 20px;
}

.marginbottom {
    margin-bottom: 5px;
}

.margintop {
    margin-top: 7px;
}

#bottom-page {
    margin-bottom: 10px;
    margin-top: 5px;
}

@media (max-width: 700px) {
    #Header_myl {
        border-radius: 40px;
        font-size: 20px;
    }

    #Aside_myl {
        margin: 40px 20px;
        width: 90vw;
        justify-content: center;
    }

    #content-bottom {
        grid-template-columns: auto;
    }

    #Main_myl {
        
        margin-top: 0;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 400px) {
    #Header_myl {
        border-radius: 20px;
        letter-spacing: 20px;
    }

    #Nav_myl {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-template-columns: 1fr;
        margin: 10px 20px;
        background-color: rgba(133, 133, 133, 0.7);
        border-radius: 10px;
        padding: 10px;
        gap: 10px;
    }

    .home {
        display: flex;
    }

    .name {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0;
    }

    #Aside_myl {
        margin-right: 20px;
    }
}